img {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-bottom: 40px;
}

.washers, .dryers {
    margin-bottom: 40px;
}

h1{
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: italic;
    color: #ffe082;
}