<div class="container">
  <div class="washers">
    <h2>
      WASHERS
    </h2>
    <md-grid-list [cols]="2" gutterSize="15px" rowHeight="250px">
      <md-grid-tile *ngFor="let washer of _washersStream">
        <app-washer-icon [washer]=washer></app-washer-icon>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <hr>
  <div class="dryers">
    <h2>
      DRYERS
    </h2>
    <md-grid-list [cols]="2" gutterSize="15px" rowHeight="250px">
      <md-grid-tile>
        <div class="machine" id="empty" fxLayout="column" fxLayoutAlign="center center"></div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>