<div class="container">
  <div class="washers">
    <h1 fxLayout fxLayoutAlign="center center">
      WASHERS
    </h1>
    <md-grid-list [cols]="2" gutterSize="15px" rowHeight="250px">
      <md-grid-tile *ngFor="let washer of _washersStream">
        <app-washer-icon [washer]=washer></app-washer-icon>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div class="dryers">
    <h1 fxLayout fxLayoutAlign="center center">
      DRYERS
    </h1>
    <md-grid-list [cols]="2" gutterSize="15px" rowHeight="250px">
      <md-grid-tile></md-grid-tile>
      <md-grid-tile *ngFor="let dryer of _dryersStream">
        <app-dryer-icon [dryer]=dryer></app-dryer-icon>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>