<h1 md-dialog-title>Upload your Profile Pic</h1>
<form #postForm="ngForm" fxLayout="column" (ngSubmit)="onUpload()">
<md-dialog-content fxFlex="100" fxLayout="column" fxLayoutAlign="none">

   <md-input-container>
    <input mdInput required placeholder="Photo URL" name="photoUrl" [(ngModel)]="this.photoUrl">
  </md-input-container>
  <button style="background-color: #4ac59d" md-raised-button type="button" (click)="featuredInput1.click()">Upload A File</button>
    <input #featuredInput1 style="display:none;" type="file" (change)="featuredPhotoSelected($event, 'url1')">
</md-dialog-content>
<md-dialog-actions fxLayoutAlgin="end center">
    <button style="background-color: #b52439" md-button type="button" md-dialog-close>Cancel</button>
    <button style="background-color: #2495b5" md-button [disabled]="!this.photoUrl">Save</button>
</md-dialog-actions>
</form>