div{
    padding-left: 30px;
     font-family: 'Roboto', sans-serif;
    .red{
        color: #ff8a80;
    }
    .blue{
        color: #b8e2ee;
    }
    md-card-title{
        margin-top: 400px;
        font-size:24px;
        font-weight: normal;
    }
}

.material-icons.md-48 { font-size: 48px; }
