img{
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.info{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
}