<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <md-card-title>{{authService.uID}}</md-card-title>
  <img (click)="uploadProfilePic()" alt="Photo" [src]="authService.photoUrl" md-card-image>
  <md-card>
    <md-card-content fxLayout="row" style="font-size:24px">
      <md-icon>face</md-icon>
      {{ authService.role }}
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-content fxLayout="row" style="font-size:24px">
      <md-icon>local_hotel</md-icon>
      <span>{{ authService.rack }}</span>
    </md-card-content>
  </md-card>
</div>